@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: rgba(220, 20, 60, 0.63);
    font-family: 'Montserrat', sans-serif;
    background-color: #070477;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ff861c' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23ff7a1d' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23f45240' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23f5433e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d5205a' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23db0058' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23a6006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23b0006e' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23681172' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2375007c' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%230f1a6a' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2313127e' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

main{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section{
    width: 95%;
    margin-top: 2rem;
}

.ul-section{
    width: 90%;
    padding-right: 2rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 10vh;
    
}

header{
    text-align: center;
    background-color: orange;
    width: 100%;
    border-bottom: 2px solid rgba(249, 251, 252, 0.993);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

h1{
    font-size: 65px;
}

button{
    border-radius: 5px;
}

input {
    width: 85%;
    height: 2rem;
    align-self: center;
    margin: auto;
    font-size: 18px;
    border-radius: 5px;
}

li{
    font-family: 'Dosis', sans-serif;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 1rem;
    background-color: rgba(128, 128, 128, 0.048);
    border-radius: 5px;
    margin-top: 0.5rem;

}

.trash {
    width: 130px;
    background-color: rgb(211, 14, 14);
    color: white;
    border: 2px solid rgb(173, 12, 12);
    border-radius: 5px;
    font-size: 18px;
    padding: 6px;
    cursor: pointer;
    align-self: flex-end;
}

.trash:hover{
    background-color: rgb(163, 12, 12);
}

.add-task{
    width: 9rem;
    height: 2.5rem;
    font-size: 17px;
    background-color: rgb(45, 126, 219);
    color: white;
    border: 2px solid rgb(45,126,219);
    cursor: pointer;
}

.add-task:hover{
    background-color: rgb(9, 85, 172);
}

